/*After change*/
:host {
  flex: 1;
}

.history {
list-style: none;
}

.sale {
border-bottom: solid 1px #333;
padding: 1em;
}

.sale:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.sale-header {
  display: block;
}

.sale-title {
  font-weight: bold;
}

.sale-date {
  font-size: 0.8em;
  color: #444;
  float: right;
}

.sale-info {
  display: flex;
  margin-left: 1em;
}

.sale-items-pics {
  flex: 1;
}

.small-pic {
  width: 40px;
  height: 40px;
  margin: 1px;
  border: 1px rgba(0,0,0,0.18) solid;
}

.sale-cost {
  flex: 1;
  text-align: right;
}
