<ul class="history">
  <li *ngFor="let item of history" class="history-item">
    <div class="header">
      <label class="product-name">{{ item.product.name }}</label>
      <label class="datails">
        {{ item.product.price | currency:'BRL':'symbol' }} -
        Comprado em {{ item.date | date:'shortDate' }}
      </label>
    </div>

    <img *ngIf="item.product.picture; else noPic"
         src="{{ item.product.picture }}"
         class="product-pic" />
    <ng-template #noPic>
      <img src="/assets/img/guilherme.jpeg" class="product-pic" />
    </ng-template>

    <ul class="info">
      <li>Quantidade: {{ item.amount }}</li>
      <li>Local de entrega: {{ item.deliveryPlace }}</li>
      <li>Forma de pagamento: {{ item.paymentMethod }}</li>
    </ul>
  </li>
</ul>
