/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap-4.0.0-beta.2-dist/bootstrap.min.css";

.carousel-control-prev, .carousel-control-next {
  background-color: #333;
}

.carousel-indicators > li {
  background-color: rgba(14, 14, 14, 0.5);
}

.carousel-indicators > li.active {
  background-color: rgba(63, 104, 255, 0.5);
}
