.loading-icon {
  font-size: 3em;
  text-align: center;
  padding: 3em;
  animation: rotate 2s infinite;
  display: block;
}

.loading-icon.mini {
  padding: 0.2em;
  font-size: 1em;
  display: inline-block;
}

@keyframes rotate {
  0%   { transform: rotate(0);      }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(0);      }
}
