.address-box{
  width: 23%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color: #efefef;
  margin-bottom: 5px;
  margin-left: 3px;
  padding: 5px;
}

.sidebtn{
  float: right;
}

h1{
  font-size: 20px;
  font-style: bold;
}
.row {
  display: flex;
}
