<app-loading-icon *ngIf="searchResults === undefined"></app-loading-icon>

<ul class="filters">
  <li>
    <label>Ordenar por:</label>
    <select [(ngModel)]="ordering" (change)="orderBy()">
      <option value="sortAsc">A-Z</option>
      <option value="sortDsc">Z-A</option>
      <option value="sortAscVal">Menor preço</option>
      <option value="sortDscVal">Maior preço</option>
    </select>
  </li>
  <li class="division"></li>
</ul>

<div class="results">
  <div *ngIf="searchResults && searchResults.length === 0" class="p-5">
    <h2>Sua busca não retornou resultados</h2>
    <p>
      Verifique se o nome digitado está correto.
    </p>
  </div>

  <div *ngIf="searchResults && searchResults.length > 0" class="p-5">
    <ul class="card-group mt-4">
      <li *ngFor="let item of searchResults"
          class="card text-center m-2">
        <app-product-pics [product]="item" [link]="true" [height]="240"></app-product-pics>
        <div class="card-body">
          <a routerLink="/products/{{item._id}}">
            <h4 class="card-title">{{ item.name }}</h4>
            <p class="card-text">{{ item.price | currency:'BRL':'R$' }}</p>
          </a>
        </div>
      </li>
    </ul>
  </div>

</div>
