<app-loading-icon *ngIf="product === undefined"></app-loading-icon>

<div *ngIf="product" class="p-5">
 <div class = "image-box"> oi </div>
 <div class = "product-box">
    <h2>{{ product.name }}</h2>

    <div *ngIf="product.stock > 0" class="p-5">
<p>Selecione a quantidade: <select><option *ngFor="let num of nums" value="{{num}}">{{num}}</option></select> </p>
<button type="button" class="btn btn-default btn-addto"> Colocar no Carrinho</button>
    </div>

    <div *ngIf="product.stock === 0" class="p-5">
      Produto Indisponível
    </div>
  </div>
  <div class="clearfix"></div>
  <h3>Informações</h3>
  <ul>
    <li>Marca: {{ product.brand }}</li>
    <li>Modelo: {{ product.model }}</li>
    <li>Cor: {{ product.color }}</li>
    <li>Ano: {{ product.year }}</li>
    <li>Peso: {{ product.weight }} Kg</li>
    <li>Altura: {{ product.dimensions[2] }}m</li>
    <li>Largura: {{ product.dimensions[1] }}m</li>
    <li>Comprimento: {{ product.dimensions[0] }}m</li>
  </ul>
  <h3>Avaliações</h3>
</div>

<div *ngIf="product === null" class="p-5">
  <h2>Produto não encontrado</h2>
  <p>
    Parece que a página que você está tentando acessar
    não existe ou não está mais disponível.
  </p>
</div>
