.image-box {
  width:45%;
  margin-right:2%;
  float: left;
  height: 500px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.product-box {
  padding: 20px;
  background-color: #e6e6e6;
  width:50%;
  float: left;
}

.product-title {
  margin-bottom: 1em;
}

.btn-add-to {
  background-color: #0066cc;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn-add-to:hover {
  background-color: white;
  color: #737373;
}

.clearfix {
    clear:both
}

.price {
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.review-user {
  opacity: 0.5;
  float: right;
  padding-right: 20px;
}

.review-box {
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.review-box-header {
  padding: 8px;
  background-color: #e6e6e6;
  border-bottom: solid 1px grey;
}

.review-title {
  font-weight: bold;
}

.review-box-body {
  padding: 8px;
}

.product-pic {
  height: 500px;
  width: 100%;
}

.product-pic-empty {
  display: inline-block;
  background-color: #666;
}
