<app-loading-icon *ngIf="product === undefined"></app-loading-icon>

<div *ngIf="product === null" class="p-5">
  <h2>Produto não encontrado</h2>
  <p>
    Parece que a página que você está tentando acessar
    não existe ou não está mais disponível.
  </p>
</div>

<div *ngIf="product" class="p-5">
  <div class="row">
    <div class="image-box">
      <ngb-carousel *ngIf="product.img.length > 0; else noPic">
        <ng-template ngbSlide  *ngFor="let picture of product.img">
          <img src="{{picture}}" class="product-pic">
        </ng-template>
      </ngb-carousel>
      <ng-template #noPic><img class="product-pic product-pic-empty"></ng-template>
    </div>
    <div class = "product-box">
      <h2 class="product-title">{{ product.name }}
        <app-stars [amount]="averageReview" [max]="5"></app-stars>
      </h2>

      <label class="price">Por {{ product.price | currency:'BRL':'R$' }}</label>
      <div *ngIf="product.stock > 0" class="p-5">
        <div class="row">
          <label class="col-5 mt-1">Selecione a quantidade:</label>
          <select class="form-control col-2">
            <option *ngFor="let amount of amountPossibilities" value="{{amount}}">
              {{amount}}
            </option>
          </select>
        </div>
        <button type="button" class="btn btn-default btn-add-to mt-4"> Colocar no Carrinho</button>
      </div>

      <div *ngIf="product.stock === 0" class="p-5">
        Produto Indisponível
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <h3>Informações</h3>
  <ul>
    <li>Marca: {{ product.brand }}</li>
    <li>Modelo: {{ product.model }}</li>
    <li>Cor: {{ product.color }}</li>
    <li>Ano: {{ product.year }}</li>
    <li>Peso: {{ product.weight }} Kg</li>
    <li>Altura: {{ product.dimensions[2] }}m</li>
    <li>Largura: {{ product.dimensions[1] }}m</li>
    <li>Comprimento: {{ product.dimensions[0] }}m</li>
  </ul>
  <h3>Avaliações ({{ reviews.length }})
    <app-stars [amount]="averageReview" [max]="5"></app-stars>
  </h3>

  <div class="review-box" *ngFor="let review of reviews">
    <div class="review-box-header">
      <label class="review-title">{{review.title}}</label>
      <app-stars [amount]="review.review" [max]="5"></app-stars>
      <div class="review-user"> {{review.user}}</div></div>
    <div class="review-box-body">{{review.body}}</div>
  </div>
</div>
