.image-box{
  width:45%;
  margin-right:2%;
  float: left;
}

.product-box{
  padding: 20px;
  background-color: #e6e6e6;
  width:50%;
  float: left;
}

.btn-addto{
  background-color: #0066cc;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn-addto:hover{
  background-color: white;
  color: #737373;
}

.clearfix{
    clear:both
}

.price{
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.star{
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled{
  color: #0066cc;
}
