.image-box{
  width:45%;
  margin-right:2%;
  float: left;
  height: 500px;
}

.row{
  display: flex;
  margin-bottom: 20px;
}

.product-box{
  padding: 20px;
  background-color: #e6e6e6;
  width:50%;
  float: left;
}

.btn-addto{
  background-color: #0066cc;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn-addto:hover{
  background-color: white;
  color: #737373;
}

.clearfix{
    clear:both
}

.price{
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.star{
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled{
  color: #0066cc;
}

.review-user{
  opacity: 0.5;
  float: right;
  padding-right: 20px;
}

.teste{
  border: solid #000;
  border-width: 1px;

}

.review-box{
  margin: 5px;
  border: solid grey;
  border-width: 1px;
  border-radius: 5px;

}

.review-box-header{
  padding: 8px;
  background-color: #e6e6e6;
  border-bottom: solid 1px grey;
}

.review-box-body{
  padding: 8px;
}
