<app-loading-icon *ngIf="!productsGrid; else products"></app-loading-icon>

<ng-template #products>
  <ngb-carousel class="highlight-products">
    <ng-template ngbSlide *ngFor="let item of productsCarousel; let i = index">
      <a routerLink="/products/{{item._id}}">
        <img src="{{item.img[0]}}">
        <!--<div class="carousel-caption caption">-->
          <!--<h3>Destaque {{i+1}}</h3>-->
          <!--<p>{{item.name}}</p>-->
        <!--</div>-->
      </a>
    </ng-template>
  </ngb-carousel>

  <ul class="card-group mt-4">
    <li *ngFor="let item of productsGrid"
        class="card text-center m-2">
      <app-product-pics [product]="item" [link]="true" [height]="240"></app-product-pics>
      <div class="card-body">
        <a routerLink="/products/{{item._id}}">
          <h4 class="card-title">{{ item.name }}</h4>
          <p class="card-text">{{ item.price | currency:'BRL':'R$' }}</p>
        </a>
      </div>
    </li>
  </ul>
</ng-template>
