.highlight-products {
  height: 300px;
}

.banner{
  height: 200px;
  width: 70%;
  display: block;
  margin: auto;
}

.caption {
  color: white;
  text-shadow: 2px 2px 1px black;
}

.highlight-products img {
  display: block;
  max-height: 300px;
  width: auto;
  margin: auto;
}

.card-img-top {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: auto;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
}

.card {
  min-width: 300px;
  flex: 1;
  border: none;
}
