<div *ngIf="user; else loadingUser" class="p-4">

  <div class="panel-container">
    <div class="panel-menu">
      <div class="user-icon">
        <img src="{{ user.picture }}" class="user-icon-pic" />
        <label class="user-nick">{{user.username}}</label>
      </div>

      <div class="nav flex-column nav-pills user-options">
        <a class="nav-link" routerLink="history" routerLinkActive="active">Minhas compras</a>
        <a class="nav-link" routerLink="address" routerLinkActive="active">Meus endereços</a>
        <a class="nav-link" routerLink="profile" routerLinkActive="active">Editar perfil</a>
        <button class="btn btn-warning" (click)="logout()">Sair</button>
      </div>
    </div>

    <div class="panel-item">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<ng-template #loadingUser>
  <app-loading-icon></app-loading-icon>
</ng-template>
