.profile-pic {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 0 1em;
}

.info {
  display: inline-block;
  list-style: none;
  padding: 0.5em;
}

.user-container {
  display: flex;
}

.menu {
  background-color: #81b6ff;
  display: inline-block;
}

.menu ul {
  list-style: none;
  padding: 0;
  min-width: 150px;
}

.menu li a {
  border-bottom: #000 1px solid;
  padding: 0.2em;
  display: block;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu li .active {
  background-color: rgba(0, 0, 0, 0.3);
}
