<div *ngIf="user; else loadingUser" class="p-5">
  <img src="{{ user.picture }}" class="profile-pic" />
  <ul class="info">
    <li>{{ user.name }} (@{{ user.username }})</li>
    <li>Email: {{user.email}}</li>
  </ul>

  <div class="user-container">
    <nav class="menu">
      <ul>
        <li><a routerLink="profile" routerLinkActive="active">Editar perfil</a></li>
        <li><a routerLink="history" routerLinkActive="active">Minhas compras</a></li>
      </ul>
    </nav>

    <router-outlet class="content"></router-outlet>
  </div>

</div>
<ng-template #loadingUser>
  Carregando...
</ng-template>
