.navbar {
  background-color: #17adff;
  padding: 0;
}

.navbar-brand {
  padding: 0.5em;
}

.links {
  flex: 1;
  padding: 0;
}

.links li {
  padding: 0.5em;
}

.search-container {
  flex: 2;
}

.search {
  flex: 1;
}

.material-icons {
  vertical-align: middle;
}

.dropdown-link {
  background-color: transparent;
  border: none;
}

.special-link {
  background-color: rgba(0,0,0,0.2);
}
