<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/home">Atlantida</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-5 links">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(atual)</span></a>
      </li>
      <li class="nav-item" ngbDropdown>
        <button class="nav-link dropdown-link"
                ngbDropdownToggle
                aria-haspopup="true"
                aria-expanded="false"
                type="button">
          Produtos
        </button>
        <div ngbDropdownMenu>
          <label class="dropdown-header" routerLink="#">Eletrônicos</label>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Celulares</a>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Computadores</a>
          <div class="dropdown-divider"></div>

          <label class="dropdown-header" routerLink="#">Eletrodomésticos</label>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Geladeiras</a>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Fogões</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Ver todas as categorias</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help" routerLinkActive="active">Ajuda</a>
      </li>
    </ul>

    <div class="input-group form-inline my-2 my-lg-0 search-container">
      <input [(ngModel)]="query"
             class="form-control"
             placeholder="Nome do produto"
             (keyup.enter)="searchProducts()">
      <span class="input-group-btn">
        <button (click)="searchProducts()"  class="btn btn-light my-2 my-sm-0">
          <i class="material-icons">search</i>
        </button>
      </span>
    </div>

    <ul class="navbar-nav mr-3 links">
      <li class="nav-item special-link">
        <a *ngIf="user; else notLoggedIn"
           class="nav-link"
           routerLink="/user"
           routerLinkActive="active">
          Meu perfil
        </a>
        <ng-template #notLoggedIn>
          <a class="nav-link"
             routerLink="/login"
             routerLinkActive="active">
            Entrar
          </a>
        </ng-template>
      </li>
      <li class="nav-item">
        <a class="nav-link " role="button"  routerLink="/shopcart" href="#" ngbTooltip="Meu carrinho"  placement="bottom">
          <span class="badge badge-primary">{{shopCartAmount}}</span>
          <i class="material-icons ">shopping_cart</i>
        </a>
      </li>
  </ul>
  </div>
</nav>
