<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/home">Atlantida</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-5 links">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(atual)</span></a>
      </li>
      <li class="nav-item" ngbDropdown>
        <button class="nav-link dropdown-link"
                ngbDropdownToggle
                aria-haspopup="true"
                aria-expanded="false"
                type="button">
          Produtos
        </button>
        <div ngbDropdownMenu>
          <label class="dropdown-header" routerLink="#">Eletrônicos</label>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Celulares</a>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Computadores</a>
          <div class="dropdown-divider"></div>

          <label class="dropdown-header" routerLink="#">Eletrodomésticos</label>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Geladeiras</a>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Fogões</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" routerLink="#" routerLinkActive="active">Ver todas as categorias</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help" routerLinkActive="active">Ajuda</a>
      </li>
      <li class="nav-item special-link">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">Meu perfil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 search-container">
      <input class="form-control mr-sm-2 search" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-light my-2 my-sm-0" type="submit"><i class="material-icons">search</i></button>
    </form>
  </div>
</nav>

