<!-- Lista de produtos -->
<div class="">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Qnt</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col"></th><!-- Remover -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of shopCart">
                <td>
                    <button type="button" class="btn btn-default btn-circle"><i class="material-icons">remove_circle_outline</i></button>
                    <span>{{item.qnt}}</span>
                    <button type="button" class="btn btn-default btn-circle"><i class="material-icons">add_circle_outline</i></button>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td><button class="btn "><i class="material-icons">remove_shopping_cart</i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Frete -->
<div class="">
  <p>{{cookies}}</p>
</div>
<!-- Finalizar compra -->
<div class="">

</div>
