.highlight-products {
  height: 200px;
}

.highlight-products img {
  display: block;
  max-height: 200px;
  width: 100%;
}

.card-img-top {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: auto;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
}

.card {
  min-width: 300px;
  flex: 1;
  border: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
