<!-- Lista de produtos -->
<div class="p-5">
    <div *ngIf="shopCartList.length > 0" >
      <h2>Meu Carrinho</h2>

      <div class="d-flex justify-content-center">
        <table class="table shopcart-table">
            <thead>
                <tr>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col"></th><!-- Remover -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of shopCartList; let i = index">
                    <td>
                        <button type="button" (click)="decrease(item)" class="btn btn-danger btn-circle"
                                  ngbTooltip="Limite atingido" triggers="manual" #decreaseTooltip="ngbTooltip"><i class="material-icons">remove_circle_outline</i></button>
                        <span>{{item.amount | number }}</span>
                        <button type="button" (click)="increase(item)" class="btn btn-primary btn-circle"><i class="material-icons">add_circle_outline</i></button>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.price | currency:'BRL':'R$'}}</td>
                    <td><button class="btn " (click)="remove(item, i)"><i class="material-icons">remove_shopping_cart</i></button></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <h2 *ngIf="shopCartList.length == 0">Carrinho vazio :(</h2>
</div>

<div class="text-center my-5">
  <a class="btn btn-primary" routerLink="/payment">
    Finalizar compra
  </a>
</div>
